* {
	
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	background: #FFFFFF;
	margin: 0;
	width: 100%;
	min-width: 1000px;
}

#container {
	margin: 0px auto;
	width: 1000px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	background: #fff;
	/*border: medium solid #368BB9;*/
}

#topbar {
	width: 100%;
	/*background: #7ED2FF;*/
	background: #31363a;
	/*border-bottom: thin solid #368BB9;*/
	padding: 0;

	float:right;
	/*text-align: center;*/
	/*height: 30px;*/
}

#topbar > div {
	width: 1000px;
	min-height: 30px;
	/*display: inline-block;*/
	margin: auto;
}

.topbarBtn {
	float: right;
	position: relative;
}
.topbarBtn > p {
	margin: 0;
}

.topbarBtn > p > a {
	display: block;
	color: black;
	line-height: 30px;
	margin: 0;
	padding: 0 0.5em;
	color: white;
}

.topbarBtn:hover {
	background: #707579;
}

/* MEMBER POP */
.topbarBtn > div {
	z-index: 10;
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	border: thin solid #368BB9;
}

.topbarBtn:hover > div {
	display: block;
}

#memberpop > p > a {			/* for IsMember */
	text-decoration: none;
	color: #ff9700;
	text-decoration: underline;
}

#memberpop {
	background: white;
	width: 160px;
	font-size: 14px;
}

#memberpop p, #memberpop input {
	margin: 0.25em 1em;
	padding: 0;
	color: black;
}


/* END MEMBER POP */

header {
	width: inherit;
	height: 150px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #7ED2FF;
	padding: 0em 2em;

	clear: both;

	background-image: url('../images/prada-banner.png');
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

header div {
	color: #FFFFFF;
	/*margin-right: auto;*/
	margin: auto;
}

header div p {
	margin: 0;
	padding-top: 0.25em;
	text-align: center;
}

/* CART BUTTON */

#cartBtn {
	position: absolute;
	border: thin solid white;
	display: block;
	min-width: 40px;
	height: 40px;
	top: -55px;
	right: 10px;

	transition-duration: 0.2s;
}

#cartBtn:hover {
	background: #368bb9;
}

#cartBtnIcon {
	float: left;
	height: 40px;
	padding: 5px;
}

#cartBtnNum {
	float: left;
	height: 40px;
	padding: 0 0.25em;
}

#cartBtnNum > p {
	line-height: 5px;
	color: white;
}

/* end CART BUTTON */		

/* CAROUSEL */					/* SPECIAL THANKS: W3SCHOOLS */

.carouselContainer {
	height: 250px;
	position: relative;
}

.carouselDiv {
	display: none;
}

.carouselPrev, .carouselNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(255,255,255,0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carouselNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carouselPrev:hover, .carouselNext:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
}

.carouselDot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 8px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carouselActive, .carouselDot:hover {
  background-color: #717171;
  color: white;
}

.carouselFade {
  -webkit-animation-name: carouselfade;
  -webkit-animation-duration: 1.5s;
  animation-name: carouselfade;
  animation-duration: 1.5s;
}

@-webkit-keyframes carouselfade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes carouselfade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* end CAROUSEL */

nav {
	width: inherit;
	background: #FF9700;
	position: relative;
}

nav table {
	/*width: 994px;*/
	width: 1000px;
}

nav table a {
	display: block;
	line-height: 30px;
	color: #FFFFFF;

	transition-duration: 0.2s;
}

nav table a:hover {
	color: #000000;
}

nav table td {
	border: thin solid #D6D6D6;
	width: 25%;
	text-align: center;
	color: #FFFFFF;
}

nav table td:hover {
	/*background: #FFC46E;*/
	background: #ffb344;
	color: #000000;
}

.content {
	width: inherit;
	height: inherit;
	/*display: flex;
	flex-flow: row wrap;*/
	background: #FFFFFF;
}

#searchBar {
	float: left;
	margin: 0 0 0 1px;
	padding: 0 10px;
	height: 30px;
	border: thin solid #D6D6D6;
}

#searchBtn {
	float: right;
	margin: 0 1px 0 0;
	/*padding: 0 10px;*/
	height: 30px;
	border: thin solid #D6D6D6;
	background: #ff9700;

	transition-duration: 0.1s;
}

#searchBtn:hover {
	background: #ffb344;
}

#sidebar {
	width: 20%;
	float: left;
	/*background: #368BB9;*/
	padding: 1em 0em;
}

#sidebar table {
	width: 100%;
	/*background: #FFEA00;*/

}

#sidebar table tr td > a {
    display:block;
	line-height: 30px;
	padding: 0em 1em;
    text-decoration:none;
	/*color: #2F2F2F;*/
	color: white;

	background: #FF9700;
	border: thin solid #D6D6D6;

	transition-duration: 0.2s;
}

#sidebar table tr td > a:hover {
	color: #000000;
	background: #ffb344;
}

#sidebar table td {
	width: 100%;
	position: relative;

}

#sidebar table tr td:hover {
	/*background: #FFFFFF;*/
	
}

/* SUB MENU */
#sidebar table tr td div {		
	/*display: none;*/
	/*position: absolute;*/
	left: 100%;
	top: 0%;
	/*background: #FFCC01;*/
	min-width: 150px;
}

#sidebar table tr td div ul li > a {
	display:block;
	line-height: 30px;
	padding: 0em 2em;
    text-decoration:none;
	color: #2F2F2F;
	background: #fafafa;

	transition-duration: 0.2s;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar table tr td:hover > div {
	display: block;
}

#sidebar table tr td div li {
	display: list-item;
	/*border: thin solid #FFCC01;*/
	border: thin solid #D6D6D6;
	border-top: none;
	margin: 0;
	/*padding: 1px 0;				/* Vừa xát với table */	
}

#sidebar table tr td div li a:hover {
	background: #ffffff;
}

#sidebar p {
	color: #FFFFFF;
}

/* end SUB MENU */



#main {
	width: 80%;
	float: right;
	/*padding: 1em;*/
	
	padding: 1em 0 1em 2.5em;
	min-height: 1101px;				/* Nhớ thay đổi khi đổi itemsOnPage */
}

/* FEATURED DISPLAY */

#main > h3 {
	color: #ff9700;
	float: left;
	clear: both;
	width: 100%;
	margin: 0.5em 0;
}

#main > hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #368bb9;
    margin: 0.5em 0;
    padding: 0; 

    float: left;
    clear: both;
    width: 100%;
}

/* end FEATURED DISPLAY */

/* ITEM DISPLAY */

#main > #productDiv {
	float: left;
	display: block;
	margin: 5px 5px;
	width: 180px;
	height: 325px;
	border: thin solid #368bb9;

	transition-duration: 0.2s;
}

#main > #productDiv:hover {
	background: #b7e5ff;
}

#main > #productDiv img {
	margin: 10px;
	width: 158px;
	height: 158px;
	transition-duration: 0.2s;
}

#main > #productDiv:hover img {
	margin: 0;
	width: 178px;
	height: 178px;
}

#main p {
	margin: 0.1em 0;
}

#main .brand {
	font-size: 14px;
	font-style: italic;
	color: #ff9700;
}

#main .price {
	font-size: 14px;
	font-weight: 600;
	color: #ff9700;
}

#main .sale {
	font-size: 10px;
	padding-left: 1em;
	text-decoration: line-through;
}

#productDiv > div {
	width: 150px;
	margin: 0 auto;
}

/* end ITEM DISPLAY */

/* ITEM DETAIL */

#main > #productDetail {
	float: left;
	margin-left: 2em;
	width: 510px;
}
#main #detailPrice {
	font-size: 25px;
	font-weight: bold;
	color: #ff9700;
}
#main #detailSale {
	font-size: 14px;
	padding-left: 0.5em;
	text-decoration: line-through;
	color: grey;
}

/* end ITEM DETAIL */

/* PAGE BUTTONS DISPLAY */

main #pageBtn {
	float: left; 
	width: initial;
	height: initial;
	margin: initial;
	border: thin solid #368bb9;
	transition-duration: 0.2s;
}


main #pageBtn:hover {
	background: #b7e5ff;
}


main #pageBtn > a {
	display: block; 
	color: #000000;
	line-height: 30px;
	padding: 0 0.5em;
}

main #pageBtnActive {
	float: left;
	width: initial;
	height: initial;
	margin: initial;
	border: thin solid #368bb9;
	background: #368bb9;
}

main #pageBtnActive:hover {
	background: #368bb9;
}

main #pageBtnActive > p {
	display: block; 
	color: #FFFFFF;
	margin: 0;
	line-height: 30px;
	padding: 0 0.5em;
}

/* end PAGE BUTTONS DISPLAY */

/* CART DISPLAY*/

.cartWindow {
	float: left;
	clear: both;
	border: thin solid #368bb9;
	width: 100%;
	min-height: 100px;
	margin: 0.25em 0;

	transition-duration: 0.1s;
}

.cartWindow:hover {
	background: #b7e5ff;
}

.cartItem {
	float: left;
	width: 550px;
	min-height: 100px;
	padding: 10px;
}

.cartItem > p {
	font-size: 12px;
	color: black;
}

.cartItemName {
	font-weight: bold;
	font-size: 15px;
}

.cartItemPrice {
	font-size: 16px;
	font-weight: bold;
	color: #ff9700;
}
.cartItemSale {
	font-size: 12px;
	padding-left: 0.5em;
	text-decoration: line-through;
	color: grey;
}

.cartOptions {
	float: left;
	width: 100px;
	min-height: 100px;
	padding: 10px;
}

.cartPay, .cartClear {
	font-size: 20px; 
	padding: 0.5em; 
	border: thin solid grey; 
}

.cartPay:hover {
	background:green;
	color: white;
}

.cartClear:hover {
	background:red;
}

/* end CART DISPLAY */

#footer {
	clear: both;
	width: 100%;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #3C3C3C;
}

#footer p {
	color: #FFFFFF;
}