* {
  /*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
  font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.content-wrapper {
  padding-top: 1.5rem;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: scroll;
}

.header-wrapper {
  background-color: #323639;
  color: #FFFFFF;
  height: 64px;
  padding: 10px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #5d5d5d;
  -moz-box-shadow: 0 0 10px #5d5d5d;
  box-shadow: 0 0 10px #5d5d5d;
}
.sidebar-wrapper {
  background-color: #F8F9FA;
  padding-top: 24px;
  height: calc(100vh - 64px);
  width: 256px;
}
.sidebar-wrapper ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-wrapper li {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #5f6368;
  height: 64px;
  width: 100%;
  padding: 10px;
  transition: background-color 0.2s;
}
.sidebar-wrapper li:hover {
  background-color: rgba(0,0,0,.04);
  cursor: pointer;
}
.sidebar-wrapper i {
  width: 24px;
  margin: 0 5px;
}
.sidebar-wrapper span {
  display: inline;
}
@media screen and (max-width:767px) {
  .sidebar-wrapper {
    position: fixed;
    margin-left: -260px;
  }
}

table {
  width: 100%;
  box-shadow: 0 10px 10px rgba(237, 237, 237, 0.9);
}
table th,
table td {
  padding: .75rem;
  border: 1px solid #ededed;
}
table td {
  color: #5f6368;
}
table th {
  border-bottom-width: 3px;
}
