* {
  /*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
  font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-sizing: border-box;
}

.content-wrapper {
  padding-top: 1.5rem;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: scroll;
}

.header-utils {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-utils > div {
  width: 64px;
  height: 64px;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
  transition-property: background-color, border, color;
}
.header-utils > div:hover {
  border: 5px solid #6ab7ff;
  background-color: #1e88e5;
  -webkit-box-shadow: 0 0 10px #6ab7ff;
  -moz-box-shadow: 0 0 10px #6ab7ff;
  box-shadow: 0 0 10px #6ab7ff;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  background-color: #323639;
  color: #FFFFFF;
  height: 64px;
  padding: 0 10px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #5d5d5d;
  -moz-box-shadow: 0 0 10px #5d5d5d;
  box-shadow: 0 0 10px #5d5d5d;
}
.sidebar-wrapper {
  background-color: #F8F9FA;
  padding-top: 24px;
  height: calc(100vh - 64px);
  width: 256px;
}
.sidebar-wrapper ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-wrapper li {
  display: flex;
  border: 5px solid rgba(255, 255, 255, 0);
  font-size: 16px;
  align-items: center;
  color: #5f6368;
  height: 64px;
  width: 100%;
  padding: 10px;
  transition: 0.2s ease-out;
  transition-property: background-color, border, color;
}
.sidebar-wrapper li > div {
  transition: 0.2s;
  transition-property: transform;
}
.sidebar-wrapper li:hover {
  /*background-color: rgba(0,0,0,.04);*/
  color: #ffffff;
  border: 5px solid #6ab7ff;
  background-color: #1e88e5;
  -webkit-box-shadow: 0 0 10px #6ab7ff;
  -moz-box-shadow: 0 0 10px #6ab7ff;
  box-shadow: 0 0 10px #6ab7ff;
  cursor: pointer;
}
.sidebar-wrapper li:active div {
  transform: scale(0.9, 0.9);
}
.sidebar-wrapper i {
  width: 24px;
  margin: 0 5px;
}
.sidebar-wrapper span {
  display: inline;
}
@media screen and (max-width:767px) {
  .sidebar-wrapper {
    position: fixed;
    margin-left: -260px;
  }
}

table {
  width: 100%;
  box-shadow: 0 10px 10px rgba(237, 237, 237, 0.9);
}
table th,
table td {
  padding: .75rem;
  border: 1px solid #ededed;
}
table td {
  color: #5f6368;
}
table th {
  border-bottom-width: 3px;
}
