* {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.content-wrapper {
  margin-top: 1.5rem;
  width: 100%;
}

.header-wrapper {
  background-color: #323639;
  color: #FFFFFF;
  height: 64px;
  padding: 10px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #5d5d5d;
  -moz-box-shadow: 0 0 10px #5d5d5d;
  box-shadow: 0 0 10px #5d5d5d;
}
.sidebar-wrapper {
  background-color: #F8F9FA;
  padding-top: 24px;
  height: calc(100vh - 64px);
  width: 256px;
}
.sidebar-wrapper ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-wrapper li {
  display: flex;
  align-items: center;
  border: thin solid #CCCCCC;
  height: 64px;
  width: 100%;
  padding: 24px;
}
@media screen and (max-width:767px) {
  .sidebar-wrapper {
    position: fixed;
    margin-left: -260px;
  }
}
